:root {
	
}

body {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100svh;
	margin: 0;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	background-color: #121212;
}

#calculator {
	max-width: 320px;
	width: 100vw;
}

.calculator-display {
	text-align: right;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
}

#calculator-primary-display {
	height: 80px;
	font-size: 2em;
}

#calculator-secondary-display {
	height: 40px;
}

.calculator-display-container {
	display: flex;
	flex-direction: column;
}

.remove-button-container {
	display: flex;
}

.remove-button {
	flex: 1 1 50%;
	max-width: 100%;
	aspect-ratio: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	border-style: solid;
	border-color: #777;
	border-width: 1px;
	border-radius: 10px;
	font-size: 1.4em;
	cursor: pointer;

	border: none;
	border-radius: 10px;
	background-color: #121212;
	box-shadow: 6px 6px 10px #0d0d0d,
				-6px -6px 10px #161616;
	font-size: 1.2rem;
	font-weight: bold;
	color: #f2f2f2;
	transition: all 0.2s ease-in-out;
	background: linear-gradient(to bottom right, rgba(18, 18, 18, 0.9), rgba(255, 77, 77, 0.9)), linear-gradient(to bottom left, rgba(18, 18, 18, 0.7), rgba(255, 77, 77, 0.7));
	background-size: 500% 500%;
	background-position: 500% 0%;
}	

.remove-button:hover {
box-shadow: 10px 10px 16px #0d0d0d,
			-10px -10px 16px #161616;
}

.remove-button:active {
transform: translateY(2px);
box-shadow: 2px 2px 5px #0d0d0d,
			-2px -2px 5px #161616;
}

.keypad-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.key {
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	border-style: solid;
	border-color: #777;
	border-width: 1px;
	border-radius: 10px;
	font-size: 1.2em;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	/* padding: 15px; */
	background-color: #121212;
	box-shadow: 6px 6px 10px #0d0d0d,
				-6px -6px 10px #161616;
	font-size: 1.2rem;
	font-weight: bold;
	color: #f2f2f2;
	transition: all 0.2s ease-in-out;
}

.key:hover {
	box-shadow: 10px 10px 16px #0d0d0d,
				-10px -10px 16px #161616;
}

.key:active {
	transform: translateY(2px);
	box-shadow: 2px 2px 5px #0d0d0d,
				-2px -2px 5px #161616;
}