:root {
	
}

body {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100svh;
	font-family: 'Atkinson Hyperlegible', sans-serif;
}

#calculator {
	max-width: 320px;
	width: 100vw;
}

.calculator-display {
	text-align: right;
	margin-left: 10px;
	margin-right: 10px;
}

#calculator-primary-display {
	height: 80px;
	font-size: 2em;
}

#calculator-secondary-display {
	height: 40px;
}

.calculator-display-container {
	display: flex;
	flex-direction: column;
}

.remove-button-container {
	display: flex;
}

.remove-button {
	flex: 1 1 50%;
	max-width: 100%;
	aspect-ratio: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	border-style: solid;
	border-color: #777;
	border-width: 1px;
	border-radius: 10px;
	font-size: 1.4em;
}

.keypad-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.key {
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	border-style: solid;
	border-color: #777;
	border-width: 1px;
	border-radius: 10px;
	font-size: 1.2em;
}